{% extends "index.html" %}
{% block content %} 

<section class="hero is-medium hero-image-background">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>


<div class="container">
  <h1 class="title topmargins titletext">
    Franz Liszt
  </h1>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered corners">
      <div class="column is-5 home-page-text corners">
        <p class="content home-text-style">Franz Liszt, Hungarian form Liszt Ferenc, (born October 22, 1811, Doborján,
          kingdom of Hungary, Austrian Empire [now Raiding, Austria]—died July 31, 1886, Bayreuth, Germany), Hungarian
          piano virtuoso and composer. Among his many notable compositions are his 12 symphonic poems, two (completed)
          piano concerti, several sacred choral works, and a great variety of solo piano pieces.</p>
      </div>
      <div class="column is-1 corners">

      </div>
      <div class="column is-5 corners">
        <img src="https://th.thgim.com/migration_catalog/article15754625.ece/alternates/FREE_300/22DFR_FRANZ_LISZT"
          alt="Franz Liszt" />
      </div>

    </div>
  </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-centered corners">
          <div class="column is-5 corners">
            <img src= "https://www.liveabout.com/thmb/31WwhU1cvqdbpVHOVQpxqNUeFkE=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/franz-liszt-fantasizing-at-the-piano--1840--found-in-the-collection-of-the-staatliche-museen--berlin--486778241-5a879995fa6bcc00374b7735.jpg"/>
          </div>
          <div class="column is-1 corners">
            
          </div>
          <div class="column is-5 corners home-page-text">
              <p class="content home-text-style">Franz Liszt was one of the most influential and controversial figures in Romantic
                  music. His reputation as a formidable and almost unrivalled virtuoso pianist of his time is justly deserved and can
                  be easily seen through many of his piano compositions. Liszt lived a long and gregarious life touring as a composer
                  and performer. Later in life, Liszt turned towards religion, perhaps in an attempt to balance the somewhat
                  hedonistic lifestyle as a young and handsome man, and became the Abbé Liszt.</p>
          </div>
    
        </div>
      </div>
</section>

<section class="hero etude-section-background">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4 home-title-section corners">
          <h1 class="title ">The Etudes of Franz Liszt</h1>
          <h2>Franz Liszt composed two large sets of etudes, or studies, and two smaller sets of concert etudes. All are
            technically challenging. One of the his known etudes is the third Paganini etude, La Campanella, which
            features challenging leaps and large arpeggios. He also composed two smaller sets titled "Concert Etudes"
            which were composed with intent to show off his skill as a performer.</h2>
          <h2>Read more about his etudes here: </h2> <a href='/compositions/etudes'>The Etudes of Franz Liszt</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 

<div class = ".mainpage">
    <div class = ".mainleftBox"> <p class = ""> Franz Liszt, Hungarian form Liszt Ferenc, (born October 22, 1811, Doborján, kingdom of Hungary, Austrian Empire [now Raiding, Austria]—died July 31, 1886, Bayreuth, Germany), Hungarian piano virtuoso and composer. Among his many notable compositions are his 12 symphonic poems, two (completed) piano concerti, several sacred choral works, and a great variety of solo piano pieces. </p> </div>
    <div class = ".mainrightbox"> <p>Franz Liszt was one of the most influential and controversial figures in Romantic music. His reputation as a formidable and almost unrivalled virtuoso pianist of his time is justly deserved and can be easily seen through many of his piano compositions. Liszt lived a long and gregarious life touring as a composer and performer. Later in life, Liszt turned towards religion, perhaps in an attempt to balance the somewhat hedonistic lifestyle as a young and handsome man, and became the Abbé Liszt. </p></div>
</div>
 -->



{% endblock %}