{% extends "index.html" %}
{% block content %} 

<section class="hero is-medium">
  <div class="hero-body hero-image-background">
    <div class="container">
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <p>There are few, if any, good sources that give an impression of how Liszt really sounded from the 1820s. Carl
          Czerny claimed Liszt was a natural who played according to feeling, and reviews of his concerts especially
          praise the brilliance, strength and precision in his playing. At least one also mentions his ability to keep
          absolute tempo, which may be due to his father's insistence that he practice with a metronome. His repertoire
          at this time consisted primarily of pieces in the style of the brilliant Viennese school, such as concertos by
          Hummel and works by his former teacher Czerny, and his concerts often included a chance for the boy to display
          his prowess in improvisation. Liszt possessed notable sight-reading skills.</p>
      </div>
    </div>
  </div>
</section>

<br>

<br>

<br>


<section class="hero">
  <div class="hero-body hero-image-background">
    <div class="container">
    </div>
  </div>
</section>

<br>





<br>
<div class="lighter-theme">
  <br>
  <h1 class="title composition-text">Contemporary Reviews</h1>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child background-color-all padding">
          <p class="title">Liszt's playing</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
        <div class="tile is-child background-color-some padding">

          <p>"M. Liszt's playing contains abandonment, a liberated feeling, but even when it becomes impetuous and
            energetic in
            his fortissimo, it is still without harshness and dryness. [...] [He] draws from the piano tones that are
            purer,
            mellower and stronger than anyone has been able to do; his touch has an indescribable charm. [...] He is the
            enemy
            of affected, stilted, contorted expressions. Most of all, he wants truth in musical sentiment, and so he
            makes a
            psychological study of his emotions to convey them as they are. Thus, a strong expression is often followed
            by a
            sense of fatigue and dejection, a kind of coldness, because this is the way nature works. " </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child background-color-all padding">
          <p class="title">Reviews</p>
          <p>"His performance commenced with Handel's Fugue in E minor, which was played by Liszt with an avoidance of
            everything
            approaching to meretricious ornament and indeed scarcely any additions, except a multitude of ingeniously
            contrived
            and appropriate harmonies, casting a glow of colour over the beauties of the composition and infusing into
            it a
            spirit which from no other hand it ever before received."</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="columns is-multiline">
  <div class="column is-8 is-offset-2">
    <p>"M. Liszt's playing contains abandonment, a liberated feeling, but even when it becomes impetuous and energetic
      in
      his fortissimo, it is still without harshness and dryness. [...] [He] draws from the piano tones that are purer,
      mellower and stronger than anyone has been able to do; his touch has an indescribable charm. [...] He is the enemy
      of affected, stilted, contorted expressions. Most of all, he wants truth in musical sentiment, and so he makes a
      psychological study of his emotions to convey them as they are. Thus, a strong expression is often followed by a
      sense of fatigue and dejection, a kind of coldness, because this is the way nature works. " </p>
  </div>
  <div class="column is-8 is-offset-2">
    "His performance commenced with Handel's Fugue in E minor, which was played by Liszt with an avoidance of everything
    approaching to meretricious ornament and indeed scarcely any additions, except a multitude of ingeniously contrived
    and appropriate harmonies, casting a glow of colour over the beauties of the composition and infusing into it a
    spirit which from no other hand it ever before received."
  </div>
</div> -->


{% endblock %}