{% extends "index.html" %}
{% block content %} 

<section class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/compositions">Compositions</a></li>
      <li><a href="/compositions/etudes">Etudes</a></li>
      <li class="is-active">Transcendental Etudes</li>
    </ul>
  </nav>
</section>

<section class="section">
    <div class="container">
                {% for transcendental in Transcendentals %}

                <p> {{ transcendental.name }} in {{ transcendental.Key }}</p>
                <p> {{ transcendental.Description }}</p>

                    <iframe src='{{ transcendental.Video }}' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                {% endfor %}
    </div>
</section>

{% endblock %}